body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

img {
  width: 500px;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  list-style-type: none;
}

a {
  display: block;
  padding: 10px;
}

input {
  padding: 12px;
  width: 450px;
  font-size: 14px;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input:focus {
  outline: none;
}

.wrapper {
  text-align: center;
  padding: 27px;
}

.button {
  font-size: 13px;
  background-color: #ECECEC;
  color: #7D7C7D;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
}

.button:hover {
  color: black;
  border: 1px solid #7D7C7D;
}

.header {
  float: right;
  padding: 18px;
}

.shit {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-decoration: none;
}
